/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .h-300 {
      height: 300px;
    }

    .h-400 {
      height: 400px;
    }

    .h-500 {
      height: 500px;
    }

    .h-600 {
      height: 600px;
    }

    .h-700 {
      height: 700px;
    }
  }
}
